---
import ContactSectionLink from '@components/ContactSection/ContactSectionLink';
import BaseSection from '@components/BaseSection';
import EmailLink from '@components/EmailLink';

import { SiGithub, SiLinkedin, SiGmail } from 'react-icons/si/index';
---

<BaseSection title="Contato" id="contact">
  <div class="flex flex-col gap-10 justify-center">
    <EmailLink client:visible />

    <div class="flex flex-row items-center justify-center gap-x-5">
      <ContactSectionLink
        icon={SiGithub}
        href="https://github.com/flyri0/"
        name="Meu perfil no GitHub."
      />

      <ContactSectionLink
        icon={SiLinkedin}
        href="https://www.linkedin.com/in/flyrio/"
        name="Meu Linkedin"
      />

      <ContactSectionLink
        icon={SiGmail}
        href="mailto:contato@flyrio.dev"
        name="Meu e-mail"
      />
    </div>
  </div>
</BaseSection>
